* {
    box-sizing: border-box;
  }
  
  html {
    background-color: rgb(156, 156, 151);
  }
  
  section {
    border: 1px rgb(243, 239, 239) solid;
    width: 33.33%;
    float: right;
    position: relative;
   
  
    padding: 10px;
    padding-top: 60px;
    color: rgb(248, 237, 237);
    background-color: rgb(37, 32, 32);
  }
  p {
    text-align: center;
  }
  
  h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  section > span  {
    background-color: rgb(180, 187, 184);
    color: brown;
    
  }
  span p.heading1 {
    font-weight: bold;
    color: rgb(224, 75, 75);
   
  }
  
  
  span p.heading2 {
    font-weight: bold;
    color: rgb(124, 7, 7);
   

  }
  span p.heading3 {
    font-weight: bold;
    color: rgba(3, 5, 4, 0.795);
   

  }
  
  
  span {
    border: 1px solid rgb(10, 10, 10);
    position: absolute;
    width: 35%;
    height: 30%;
    top: 0;
    bottom: 0;
    right: 0;
    
  }
  
  
  @media (min-width: 768px) and (max-width: 991px) {
    section.first {
      width: 50%;
    }
  
    section.second {
      width: 50%;
    }
    section.third {
      width: 100%;
      /* margin-top: 20px; */
    }
  }
  
  /* mobile */
  /* max-width 767px */
  @media (max-width: 767px) {
    section {
      width: 100%;
    }
  }
