*{
    box-sizing: border-box;
}
section {

   
     border: 1px white solid;
  width: 33.33%;
  float: left;
  position: relative;


  padding: 10px;
  padding-top: 60px;
  color: white;
  background-color: rgb(0, 0, 0);
}
html {
  background-color: rgb(226, 226, 74);
}
h1{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
p{
    background-color: rgb(49, 48, 48);
    text-align:center;
}
span{
    position: absolute;
    border: 1px solid rgb(66, 65, 65);
    width: 40%;
    height: 40%;
    top:0;
    bottom:0;
    left:0;

}
span p.heading{
    font-weight: bold;

@media (min-width:768px) and(max-width:991px){
    section.first{
        width: 50%;
    }
    section.secound{
        width:50%;
    }
    section.third{
        width: 100%;
    }
}
@media (min-width:767px){
    section {
        width: 100%;
    }
}
